@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  font-family: 'Merriweather', serif;
}

.page {
  padding: 0 3em;
  min-width: 350px;
  margin: auto;
  max-width: 1500px;
}

h1 {
  font-size: 2.5rem;
  margin-top: 2em;

  &.sub-heading {
    margin-top: 0.5em;
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
  }
}

h2 {
  margin-top: 2em;

  &.sub-heading {
    margin-top: 0.5em;
    font-weight: 300;
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 1em;
  }
}

.section-wrapper {
  margin-top: 1em;
}

.cell {
  transition: 0.3s;
}

.scale {
  display: flex;
  margin-top: 0.5em;
  &__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.2em;
    &__swatch {
      width: 3em;
      height: 1em;
      background-color: blue;
      box-shadow: -2px 6px 5px 0px rgba(0, 0, 0, 0.16);
    }
    &__label {
      margin-top: 0.5em;
      font-size: 0.8rem;
    }
  }
}

.option-tile {
  margin-top: 0.8em;
  &__label {
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-size: 0.8rem;
  }
}

.footer {
  height: 20em;
  width: 100%;
  margin-top: 5em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.hover {
  cursor: pointer;
  &__info {
    background-color: white;
    position: fixed;
    z-index: 100;
    padding: 0.3em 0.6em;
    border-radius: 0.2em;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 700px) {
  // body {
  // background-color: lightblue;
  // }

  h1,
  h2 {
    margin-top: 1.5em;
    padding: 0 8px;
    &.sub-heading {
      padding: 0 8px;
    }
  }

  .page {
    padding: 0;
    min-width: 100%;
    margin: auto;
    max-width: 1500px;
    font-size: 0.9rem;
  }

  .row {
    flex-direction: column;
  }

  .scale {
    order: 1;
    width: 100%;
    justify-content: space-between;
    gap: 0.2em;
    &__cell {
      flex: 1;

      margin-right: 0;
      &__swatch {
        width: 100%;
      }
      &__label {
        font-size: 0.6rem;
      }
    }
  }

  .section-wrapper {
    padding: 0 0.5em;
    &__scale {
      order: 1;
    }
    &__options {
      order: 2;
    }
  }
}
